NODE_ENV=

APP_NAME=

PORT=
LOG_LEVEL=

DATABASE_URL=


#CORS
CORS_HOSTS=

#FRONTEND-URL
FRONTEND_URL=

#JWT-TOKENS
REFERRAL_SECRET=

#NODEMAILER
NODEMAILER_EMAIL=
NODEMAILER_PASS=

# CLERK 
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

#NOWPAYMENT
NOWPAYMENT_API=
NOWPAYMENT_API_KEY=
NOWPAYMENT_IPN_KEY=
NOWPAYMENT_PUBLIC_KEY=
NOWPAYMENT_EMAIL=
NOWPAYMENT_PASSWORD=
