<main>
  <p>
    <b>10x Gaming</b><br />
    A user wants to contact with us.</p>

  <p>Contact details is mentioned below:</p>
  <p>Name: <b>{{name}}</b></p>
  <p>Email: <b>{{email}}</b></p>
  <p>Message: <b>{{body}}</b></p>
</main>
