<main>
  <p>Thank you for signing up with
    <b>{{appName}}</b>
    As an extra security precaution, please verify your email address to
    continue signing up.</p>
  <a href="{{link}}">
    <button class="btn">Complete Verification</button>
  </a>
  <p>The above link expires in 4 hours.</p>
</main>